{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_plugnmeet/merge_recordings_modal_body

    Example context (json):
    {
        "success": "Your request was successful.",
        "error": "An error message.",
        "showinitial": true,
        "hasrecordings": true,
        "recordings": ["rec-1", "rec-2"]
    }
}}
{{#success}}
    <div class="alert alert-success">{{success}}</div>
{{/success}}

{{#error}}
    <div class="alert alert-danger">{{error}}</div>
{{/error}}

{{#showinitial}}
    {{#hasrecordings}}
        <p>{{#str}}modal_merge_recordings_header, mod_plugnmeet{{/str}}</p>
        <ul>
            {{#recordings}}
                <li>{{.}}</li>
            {{/recordings}}
        </ul>
    {{/hasrecordings}}
    {{^hasrecordings}}
        <p>{{#str}}modal_merge_recordings_prompt, mod_plugnmeet{{/str}}</p>
    {{/hasrecordings}}
{{/showinitial}}
